// -------- COLORS ---------
$red: #ff5f77;
$yellow: #fff360;
$green: #00d9bd;
$magenta: #ec74cb;
$orange: #ffaf3a;
$blue: #4c98f2;

$gray1: #eeeeee;
$gray2: #cccccc;
$gray3: #777777;
$gray4: #222222;
$bgGray: #fcfcfc;

.green {
  color: $green;
}

.blue {
  color: $blue;
}

.red {
  color: $red;
}

.magenta {
  color: $magenta;
}

.orange {
  color: $orange;
}

.blue {
  color: $blue;
}
