// STYLES BY JAMES

#login-signup-main {
  display:grid;
  grid-template-columns:40vw 60vw;

  a {
    text-decoration: none;
  }

  .bg-window {
    grid-column: 1 / 2;
    background-image: url("~@/assets/signup-background.svg");
    background-position: center;
    background-size: cover;
    display:flex;

    #logo {
      position: absolute;
      top: 50px;
      left: 50px;
      z-index: 500;

      img {
        width: 120px;
      }
    }

    #outside-prompt {
      padding-left:50px;
      width:calc(40vw - 50px);
      color: white;
      line-height: 1.5em;
      align-self:center;

      h1 {
        @include heading1;
      }

      #google {
        height: 50px;
      }
    }
  }

  .input-container {
    grid-column: 2 / 3;
    padding:50px;
    overflow-y:scroll;

    h3 {
      @include heading3;
      margin-top:0;
    }

    p {
      color: $gray3;
    }

    .text {
      text-align:right;
    }

    .image + .text {
      text-align:left;
    }

    .image {
      width: 100%;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      @include card-style;
    }

    .row {
      padding-top:5vh;
      padding-bottom: 5vh;
      display: grid;
      grid-template-columns: calc(50% - 10px) calc(50% - 10px);
      grid-column-gap:20px;

      &:first-of-type {
        padding-top:0;
      }

      &:last-of-type{
        padding-bottom:0;
      }
    }

  }
}
