// STYLES BY JAMES

#login-signup-main {
  overflow: hidden;

  #logo {
    position: absolute;
    top: 50px;
    left: 50px;

    img {
      width: 120px;
    }
  }

  .login-flex {
    display: flex;
  }

  .input-window {
    height: 50vw;
    width: 60%;
  }

  .bg-window {
    width: 40%;
    background-image: url("../public/assets/signup-background.svg");
    background-position: center;
    background-size: cover;
    height: 100vh;

    #outside-prompt {
      padding-top: calc(50vh - 100px);
      text-align: center;
      color: white;

      #google {
        height: 50px;
      }

      .prompt-button {
        display: block;
        text-transform: uppercase;
        @include submit-button;
        width: 50%;
        margin: auto;

        &#signin-prompt {
          background-color: $blue;
          border-color: $blue;
        }

        &#signup-prompt {
          background-color: $red;
          border-color: $red;
        }
      }
    }
  }

  .input-window {
    width: 50%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: calc(50vh - 100px);

    p {
      color: $gray4;
    }

    #image-1{
      width: 60%;
      float: right;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    }
    
  }
  a {
    text-decoration: none;
  }
}
