
// WRITTEN BY ANGELLA

hr {
  border: 1px solid #EEEEEE;
}


#options {
  margin-left: 20px;

  button {
    padding: 12px 30px;
    margin: 0px 5px;
    border: none;
    border-radius: 30px;
    color: #777777;
    background-color: #EEEEEE;
    font-size: 12px;
    text-align: center;

    &#selected {
      color: #FCFCFC;
      background-color: #777777;
    }
  }
}

.task-column {
  width: calc(33% - 20px);
  float: left;
  padding: 0px 10px;

  .column-header {
    display:flex;
    width:100%;
    justify-content:center;
    align-items:center;

    .num-circle {
      width: 1.5em;
      height: 1.5em;
      border-radius: 0.75em;
      border: 2px solid $gray2;
      font-weight: 500;
      font-size: 1.25em;
      line-height:calc(1.5em - 4px);
      color: $gray2;
      background: $bgGray;
      margin-right:0.5em;
      text-align:center;
    }

    h2 {
      display:inline-block;
      font-weight: 500;
      font-size: 1.5em;
      color: $gray3;
    }
  }

  .task-list {
    min-height:150px;
  }
}

.kanban .card {
   margin-bottom: 1em;
   cursor:move;
   background-color:white;

   .card-team {
     @include detailsFont;
     text-transform:uppercase;
   }

   .card-team, .card-heading {
     cursor:pointer;
   }

   .card-desc {
     @include bodyFont;
     margin-bottom:0.5em;
   }

   .card-date {
     @include detailsFont;
     color:$gray3;

     &.red {
       color:$red;
     }
   }

   .task-assignees {
     .assignee-heading {
       border-top:1px solid $gray2;
       padding-top:1em;
       @include detailsFont;
       text-transform:uppercase;
       margin-bottom:0.5em;
     }

     .assignee {
       @include detailsFont;
       color:$gray3;
       display:flex;
       align-items:center;
       margin-bottom:0.5em;

       &:last-of-type {
         margin-bottom:0;
       }

       .profile-photo {
         @include profile-photo;
         margin-right:0.5em;
       }

       p {
         margin:0;
       }
     }
   }
 }
