// PLACEHOLDER
@mixin placeholder-page-text {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h2 {
    font-weight: 500;
    font-size: 24px;
    color: #777;
  }

  p {
    font-size: 14px;
    color: #777;
  }
}

// PROFILE ICONS
@mixin sidebar-photo {
  width: 2.2em;
  height: 2.2em;
  margin-right: 0.3em;
  border-radius: 2.2em;
  background-size: cover;
  background-position: center;
}

@mixin profile-photo {
  @include sidebar-photo;
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.4em;
  border-radius: 1.8em;
}

// CARDS & BOXES
@mixin card-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@mixin card-corners {
  border-radius: 8px;
}

@mixin card-style {
  @include card-shadow;
  @include card-corners;
}

.green-color-band {
  border-left: 10px solid $green;
}

.blue-color-band {
  border-left: 10px solid $blue;
}

.red-color-band {
  border-left: 10px solid $red;
}

.magenta-color-band {
  border-left: 10px solid $magenta;
}

.orange-color-band {
  border-left: 10px solid $orange;
}

.card h1, .card h2, .card h3, .card h4, .card p{
  cursor: pointer;
}


// INPUTS & BUTTONS
@mixin input-field-shadow {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

@mixin input-field-style {
  @include input-field-shadow;
  border-radius: 10px;
  border: 1px solid $gray2;

  &:active, &:focus {
    border: 2px solid $green;
  }
}

@mixin add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  border-radius: 2.5em;
  @include card-shadow;
  background-color: white;

  &:hover {
    background-color: $green;
  }

  i {
    color: $gray3;
    cursor: pointer;
    font-size: 2em;
    transform: translateY(0.05em);

    &:hover {
      color: white;
    }
  }
}

@mixin start-button {
  padding: 0.5em;
  border-radius: 1em;
  border: 2px solid $green;
  @include buttonFont;
  color: $green;
  cursor: pointer;
  text-align: center;
  display: inline-block;

  &:hover {
    background-color: $green;
    color: white;
  }
}

@mixin submit-button {
  @include card-shadow;
  border-radius: 2.4em;
  background-color: $green;
  padding: 0.5em;
  @include buttonFont;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    color: $green;
    background-color: white;
  }
}

.filter-bar-container {
  position: sticky;
  top: calc(3vw + 2.1em + 0.67em + 50px - 12px - 20px);
  background-color: $bgGray;
  z-index: 40;
}

.filterbar {
  font-size: 0.8em;
  font-weight: 500;
  color: $gray3;
  height: 50px;

  .filter-title {
    float: left;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 1.5em;
  }

  .options {
    display: flex;
    flex-wrap: nowrap;
    height: 50px;
    align-items: center;
    overflow: auto;
  }

  .filter-group {
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    background: $gray1;
    color: $gray3;
    padding: 10px 24px 10px 24px;
    border: 0;
    display: inline-block;
    margin: 0 5px 0 5px;
    text-decoration: none;
    white-space: nowrap;

    &:focus {
      outline: none;
    }

    &.selected {
      background: $gray3;
      color: $bgGray;
    }
  }
}

.empty-list-style {
  font-weight: 400;
  text-align: center;
  color: $gray2;
}
